@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(44, 44, 44);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

:root {
    --primary-white: #FFFFFF;
    --primary-blue: #20B8CF;
    --secondary-blue: #99DEE9;
    --primary-orange: #FFC853;
    --secondary-orange: #FFF050;
    --tertiary-orange: rgb(255, 145, 0);
}


/* REUSABLE */

.big-icon {
    font-size: 100px;
    display: block;
    color: var(--tertiary-orange);
    margin-bottom: 10px;
    margin-left: 30%;
}

.small-icon {
    font-size: 120%;
    width: 30px;
    text-align: center;
    display: inline-block;
    color: var(--tertiary-orange);
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 8px;
}

.box {
    padding: 1%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

section {
    padding: 80px 0;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}


/* LINKS */

a:link,
a:visited {
    color: var(--primary-orange);
    text-decoration: none;
    border-bottom: 1px solid var(--primary-orange);
    transition: border-bottom, 0.3s, color, 0.3s;
}

a:hover,
a:active {
    color: #3d3d3d;
    border-bottom: 1px solid transparent;
}


/* HEADINGS */

h1 {
    color: var(--primary-white);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 15px;
    font-size: 110%;
}

h2:after {
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    height: 2px;
    background-color: var(--primary-orange);
}


/* HEADER */

header {
    background-image: linear-gradient(#000000a1, #000000a1), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    /* background-image: url(/resources/css/img/hero.jpg); */
    height: 100vh;
    background-attachment: fixed;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Moves image 50% of its width and height up to the left*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    text-decoration: none;
    color: var(--primary-white);
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom, 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--primary-orange);
}


/* PARAGRAPHS */

.long-copy {
    line-height: 160%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 140%;
}


/* BUTTONS */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.3s, border 0.2s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    color: #000000;
    margin-right: 10px;
}

.btn-empty:link,
.btn-empty :visited,
input[type=submit] {
    border: 1px solid var(--primary-orange);
    color: #FFFFFF;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(245, 174, 22);
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(245, 174, 22);
}

.btn-empty:hover,
.btn-empty:active {
    border: 1px solid rgb(245, 174, 22);
    color: var(--primary-white);
}


/* IMAGE LIST */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

section.meals {
    padding: 0;
}

.medium-image {
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.medium-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform, 0.5s;
    transition: opacity, 0.5s;
}

.medium-image img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* HOW IT WORKS SECTION */

section.steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 50%;
    margin-left: 25%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: var(--tertiary-orange);
    border: 2px solid var(--tertiary-orange);
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    float: left;
    font-size: 160%;
    margin-right: 25px;
}

.btn-app {
    height: 50px !important;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


/* CITY SECTION */

.city-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* TESTIMONIALS */

section.testimonials {
    background-image: linear-gradient( #000000b9, #000000b9), url(./img/back-customers.jpg);
    background-size: cover;
    color: var(--primary-white);
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
    /* THE PARENT ELEMENT OF AN ABSOLUTELY POSITIONED ELEMENT MUST BE RELATIVELY POSITIONED */
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}


/* THESE ARE CALLED ISO CHARACTERS - SEARCH CSS-TRICKS.COM */

cite img {
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}


/* SIGN UP SECTION */

section.plans {
    background-color: #f4f4f4;
}

.card {
    background-color: var(--primary-white);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 4px 4px #cecece;
}

.card div {
    padding: 15px;
    border: 1px solid rgb(224, 224, 224);
}

.card ul {
    list-style: none;
}

.card li {
    padding: 5px 0;
}

.card div:last-child {
    text-align: center;
    background-color: #f4f4f4;
}

.card div:first-child {
    background-color: #f4f4f4;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: var(--tertiary-orange);
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
    /* HERE IT WILL INHERIT THE FONT SIZE OF THE PARENT ELEMENT (300%) */
}

.plan-price-meal {
    font-size: 80%;
}


/* FORM */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/* FOOTER */

footer {
    background-color: rgb(43, 43, 43);
    padding: 20px;
}

footer p {
    color: #969696;
    text-align: center;
    margin-top: 30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-linksli a:visited {
    text-decoration: none;
    border: 0;
    color: #969696;
    transition: color, 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(211, 209, 209);
}

[name="logo-twitter"]:hover {
    color: #00acee;
}

[name="logo-instagram"]:hover {
    color: #3f729b;
}

[name="logo-facebook"]:hover {
    color: #3b5998;
}

[name="logo-youtube"]:hover {
    color: rgb(212, 18, 18);
}